.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 2.5rem;
}

.wrapper {
  position: relative;
  width: 100%;
  padding-top: 16.95%;
}

.scrollLoop {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 200%; /* or 300% if you use 3 images */
  height: 100%;
  will-change: transform;
  animation: scroll-loop 25s linear infinite;
}

.imageContainer {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

@keyframes scroll-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
