@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.FeatureBar {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.FeatureBar-content {
  display: inline-flex;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: relative;
}

.FeatureBar-left .FeatureBar-content {
  animation: scrollLeft 30s linear infinite;
}

.FeatureBar-right .FeatureBar-content {
  animation: scrollRight 30s linear infinite;
}

.FeatureBar span {
  background: linear-gradient(to top, rgba(134, 135, 165, 0.1) 10%, rgba(134, 135, 165, 0.3) 100%);
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  display: inline-flex;
  margin: 0 5px;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .FeatureBar span {
    font-size: 12px;
    padding: 5px 10px;
  }
}